<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135621053-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135621053-1');
</script>
<div class="footer">
    Maintained by <a href='https://yangdanny97.github.io'>Danny Yang</a> ·
    <a href='https://yangdanny97.github.io/blog'>blog</a> ·
    <a href='https://github.com/yangdanny97/intro-to-d3' target='_blank'>github</a>
</div>
